<ion-view class='Main'>
  <ion-content>
    <ion-slide-box does-continue="true" auto-play="true" class="banner-slider">
      <ion-slide ng-repeat="item in banners" on-tap="navigate(item.to)">
        <img ng-src="{{item.img}}" alt="">
      </ion-slide>
    </ion-slide-box>

    <div class="item item-input-inset main-search">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="商品搜索：请输入商品关键词">
      </label>
      <button class="button button-small button-assertive">
        搜索
      </button>
    </div>
    <div class="panel">
      <div class="panel-top">
        <div class="inline-content">
          <h4>推荐商品</h4>
          <span>更多
            <i class="icon ion-ios-arrow-forward"></i>
          </span>
        </div>
      </div>
      <div class="panel-content">
        <div class="scrollx recommends">
          <div class="recm-item" ng-repeat="item in recommends">
            <div><img ng-src="{{item.img}}"></div>
            <p>{{item.title}}</p>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>