<ion-tabs class="tabs-icon-only">
    <ion-tab icon-off="ion-ios-home-outline" icon-on="ion-ios-home">
        <ion-nav-view name="Main"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="icon ion-navicon-round" icon-on="icon ion-navicon-round">
        <ion-nav-view name="Order"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart">
        <ion-nav-view name="Cart"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person">
        <ion-nav-view name="Person"></ion-nav-view>
    </ion-tab>
</ion-tabs>